/* ---- Discord Variables ---- */
.theme-dark>* {
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: #b1bae6;
  --text-muted: #565f89;
  --text-positive: hsl(89, calc(var(--saturation-factor, 1)*51%), 61%) !important;
  --text-warning: hsl(39, calc(var(--saturation-factor, 1)*66%), 64%) !important;
  --text-danger: hsl(349, calc(var(--saturation-factor, 1)*89%), 72%) !important;
  --text-link: hsl(217, calc(var(--saturation-factor, 1)*40%), 56%) !important;
  --info-positive-background: hsla(89, calc(var(--saturation-factor, 1)*51%), 61%, 0.8) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(39, calc(var(--saturation-factor, 1)*66%), 64%, 0.4) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(349, calc(var(--saturation-factor, 1)*89%), 72%, 0.8) !important;
  --info-danger-foreground: var(--text-danger);
  --status-danger: var(--text-danger);
  --status-warning: var(--text-warning);
  --status-positive: var(--text-positive);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --interactive-normal: #b2b4be;
  --interactive-hover: #a2a6c2;
  --interactive-active: #b5bad1;
  --interactive-muted: #55576b;
  --channels-default: var(--text-muted);
  --background-primary: #1a1b26;
  --background-secondary: #171722;
  --background-secondary-alt: #13131a;
  --background-tertiary: #16161e;
  --background-accent: #434461;
  --background-floating: #161620;
  --background-modifier-hover: #212331c0;
  --background-modifier-active: #282a3680;
  --background-modifier-selected: #24263171;
  --background-modifier-accent: #1e1e29;
  --background-mentioned: #252836;
  --border-mentioned: #474c64;
  --background-mentioned-hover: #2f3344;
  --accent-color: #7aa2f7;
  --folder-color: #202332d0;
  --folder-color-light: #2f3342d0;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #2b2b46af;
  --scrollbar-auto-thumb-hover: #ffffff85;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
  --input-background: var(--background-secondary);
}

.theme-light>* {
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-positive: hsl(89, calc(var(--saturation-factor, 1)*32%), 28%);
  --text-warning: hsl(36, calc(var(--saturation-factor, 1)*74%), 32%);
  --text-danger: hsl(348, calc(var(--saturation-factor, 1)*35%), 31%);
  --info-positive-background: hsla(89, calc(var(--saturation-factor, 1)*32%), 28%, 0.8) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(36, calc(var(--saturation-factor, 1)*74%), 32%, 0.4) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(349, calc(var(--saturation-factor, 1)*35%), 31%, 0.8) !important;
  --info-danger-foreground: var(--text-danger);
  --status-danger: var(--text-danger);
  --status-warning: var(--text-warning);
  --status-positive: var(--text-positive);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --interactive-normal: #4c505e;
  --interactive-hover: #404350;
  --interactive-active: #373a44;
  --interactive-muted: #77797c;
  --background-primary: #d5d6db;
  --background-secondary: #cecfd4;
  --background-secondary-alt: #b6b7bd;
  --background-tertiary: #c5c6cc;
  --background-accent: #9ca3bb;
  --background-floating: #c2c2c9;
  --background-mentioned: #c4c7da;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --background-modifier-accent: #06060714;
  --border-mentioned: #a9afcf;
  --background-mentioned-hover: #cfd2e9;
  --accent-color: #34548a;
  --folder-color: #a7a6a6d0;
  --folder-color-light: #afafafd0;
  --input-box-bg: #c2c2c7;
  --input-box-border: #b3b4b8;
  --input-box-border-focus: #959699;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #a0a0a0af;
  --scrollbar-auto-thumb-hover: #77777785;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
  --input-background: var(--background-secondary);
}

/* ~~~~		  		General							~~~~ */
.theme-dark ::selection {
  background-color: #515c7e40;
  color: #a9b1d6;
}

.theme-light ::selection {
  background-color: #fafbff55;
  color: #4c505e;
}

.ef3116c2da186559-tree {
  background-color: var(--background-primary);
}

/* Input Box Placeholder Text */
::placeholder {
  color: var(--text-muted) !important;
}

/* Scrollbar */
.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track {
  height: 100px;
  border-right: 0px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 0px;
}

.auto-2K3UW5::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-auto-thumb-hover);
}

/* Tooltips */
.tooltipPrimary-3qLMbS,
.bba88350df28dff1-toolbar {
  background-color: var(--background-secondary-alt) !important;
}

.bba88350df28dff1-toolbar:before {
  border-top-color: var(--background-secondary-alt);
}

.tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
  border-top-color: var(--background-secondary-alt) !important;
}

/* Friend list tab */
.bbd19242e12654ad-friendSelected {
  background-color: var(--background-tertiary) !important;
}

.bf1984a18b3ec6f0-outer.bf1984a18b3ec6f0-interactive:hover {
  background-color: var(--background-tertiary) !important;
}

.bf1984a18b3ec6f0-inset,
._00943886e1cf89d1-separator {
  background-color: var(--background-secondary) !important;
}

.pageWrapper_a3a4ce,
._133bf5eea8e33a34-container {
  background-color: var(--background-primary) !important;
}

._5e434347c823b592-panels {
  background-color: var(--background-secondary) !important;
}

._5dec784a68542d60-panel {
  background-color: var(--background-secondary-alt) !important;
}

.e6b7699ce8339e1c-privateChannels {
  background-color: var(--background-tertiary) !important;
}

/* Chat Box */
._740174f3d6a2c8fe-buttons {
  opacity: 0;
  transition: opacity .15s;
}

.f75fb00fb7356cbe-channelTextArea:hover ._740174f3d6a2c8fe-buttons {
  opacity: 1;
}

._1b31f471f0bb10ab-placeholder {
  color: var(--text-muted) !important;
}

.lookFilled-1GseHa.colorPrimary-2AuQVo {
  color: var(--text-normal) !important;
  background-color: var(--background-primary) !important;
}

._841c8f861f7b2704-mentionButton {
  color: var(--accent-color);
}

._740174f3d6a2c8fe-scrollableContainer {
  border-radius: 5px;
  border-bottom: 2px var(--background-tertiary) solid;
  transition: border-color .15s ease;
}

._740174f3d6a2c8fe-scrollableContainer:hover,
._740174f3d6a2c8fe-scrollableContainer:focus-within {
  border-bottom-color: var(--accent-color);
}

._36d072eab2b2e737-messagesWrapper {
  background-color: var(--background-tertiary);
}

.theme-dark ._04eede68d145ae81-spriteContainer:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/src/assets/emoji-dark.png") center/contain no-repeat !important;
}

.theme-light ._04eede68d145ae81-spriteContainer:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/src/assets/emoji-light.png") center/contain no-repeat !important;
}

/* Home Channel */
.background_c54132 {
  background-color: var(--background-primary) !important;
}

.interactiveCard_d92364,
.containerCard__95c7a {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
}

.scrollIcon__0a383 {
  background-color: var(--background-tertiary);
}

/* Forum Channel */
.f369dba7416c67f0-grid,
.f369dba7416c67f0-list,
._99f8cc7ad4790ce9-auto {
  background-color: var(--background-primary) !important;
}

.faa96b2163f6a142-container {
  background-color: var(--background-tertiary) !important;
}

.f369dba7416c67f0-mainCard {
  background-color: var(--background-secondary) !important;
}

.forumOrHome__49676 {
  --__header-bar-background: var(--background-primary) !important;
}

.c8ffbb79449f399c-container,
.c8ffbb79449f399c-members,
.c8ffbb79449f399c-member {
  background-color: var(--background-secondary);
}

/* Jump to present & New message bar */
._0f481cbbd7530492-newMessagesBar {
  background-color: var(--background-accent);
  border-radius: 50px;
  margin-top: 5px;
}

._0f481cbbd7530492-jumpToPresentBar,
._0f481cbbd7530492-jumpToPresentBar:active {
  margin-bottom: 13px;
  border-radius: 20px;
  padding: 0;
}

/* Top Bar */
#app-mount ._9293f6b2fc12398a-children>._9293f6b2fc12398a-iconWrapper svg,
#app-mount ._5e434347c823b592-base {
  color: var(--header-primary);
}

/* Voice Call Tab */
.cb9592ad77576717-callContainer {
  background-color: var(--background-floating) !important;
}

._90dc5e06d05dc634-tile {
  background-color: var(--background-secondary);
}

.c6e099f3aa7c1767-header {
  color: var(--text-normal)
}

.button_c6e099 {
  color: #fff;
  background-color: var(--accent-color);
}

/* Thread Spine */
.c19a557985eb7793-hasThread:after {
  border-left: 2px solid var(--interactive-normal) !important;
  border-bottom: 2px solid var(--interactive-normal) !important;
}

/* Fix some svg color */
svg[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
  fill: var(--text-positive);
}

svg[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
  fill: var(--text-warning);
}

svg[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
  fill: var(--text-danger);
}

/* Mp User Profile */

.d125d22cdfd32cfe-none.d125d22cdfd32cfe-scrollerBase {
  background-color: var(--background-primary);
}

._7f9c030b25536e94-footer {
  background-color: var(--background-primary);
}

.c0bea05627c5dc35-overlay.b32ca49f97332e1b-overlay {
  background-color: var(--background-secondary-alt);
}

.c0bea05627c5dc35-overlay._3b2602e558ef3de0-overlay {
  background-color: var(--background-secondary-alt);
}

/* Bot Tag */
._82f0793afa59e5dc-botTagRegular {
  background: var(--accent-color) !important;
}

/* ~~~~		  		Messages							~~~~ */

/* Quotes */
._752971923a1e6683-blockquoteContainer {
  padding: 2px 0 2px 0;
}

._752971923a1e6683-blockquoteContainer blockquote {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  color: var(--text-normal);
  border-radius: 0 4px 4px 0;
  padding: 4px 11px 4px;
}

._752971923a1e6683-blockquoteContainer>._752971923a1e6683-blockquoteDivider {
  background-color: var(--accent-color);
  border-radius: 4px 0 0 4px;
}

.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
  background-color: var(--background-secondary-alt);
}

/* Reply text */

._841c8f861f7b2704-clipContainer {
  color: var(--text-normal);
  background-color: var(--background-modifier-selected);
}

.c19a557985eb7793-repliedMessage .c19a557985eb7793-repliedTextPreview {
  color: var(--text-normal);
  opacity: 0.64;
}

.c19a557985eb7793-repliedMessage .c19a557985eb7793-repliedTextPreview:hover {
  opacity: 1;
}

/* Embeds */
.wrapperAudio_f316dd {
  width: auto !important;
  min-width: 400px;
}

.embedWrapper_b7e1cb._623de82e76ad7f82-embedFull {
  border-radius: 4px;
  border-left: 4px solid var(--accent-color);
  box-shadow: var(--elevation-high);
}

/* Nitro Gift */
._72090deda6ab7f6d-tile {
  background-color: var(--background-secondary) !important;
}

.lookFilled-1GseHa.colorPrimary-2AuQVo:disabled {
  background-color: var(--background-primary) !important;
}

/* Mentions */
._5126c0cd07f243a0-replying::before,
._5126c0cd07f243a0-mentioned::before {
  background-color: var(--border-mentioned);
}

/* Quick Button */
.f7ecaca5c80dbf3a-wrapper {
  background-color: var(--background-secondary);
}

/* Polls */
.b7e1cb0370c2dd0e-pollContainer {
  background-color: var(--background-secondary) !important;
}

._4c5209741d147f1b-answerInner {
  background-color: var(--background-primary) !important;
}

/* ~~~~		  		Popouts							~~~~ */

/* User Popouts */
.userTagUsernameNoNickname-2e_xaO {
  color: var(--text-normal);
}

.rolePill-2IJ1vo {
  background-color: var(--profile-role-pill-background-color);
  border: 0px solid;
  /* Remove role pill's border */
  border-color: var(--profile-role-pill-border-color);
}

.messageInput-1KI8l8 {
  background-color: var(--background-secondary-alt);
}

.messageInputContainer-2rGDH8 {
  border: 1px solid var(--background-tertiary);
}

/* Add Role Popouts */
.container-2O1UgZ {
  background-color: var(--background-floating);
  border-color: var(--background-secondary-alt);
}

/* Search Popouts */
._55c999adcf6db265-container {
  background-color: var(--background-floating) !important;
  border-radius: 10px !important;
  box-shadow: var(--elevation-high) !important;
}

._16eb0bfd5c5a90d1-option::after {
  display: none !important;
}

._16eb0bfd5c5a90d1-option.selected-rZcOL-,
.ac6cb02cd15b4b3b-input {
  background-color: var(--background-secondary-alt) !important;
}

._55c999adcf6db265-focused {
  background-color: var(--background-secondary-alt) !important;
}

.bd818628221af7aa-searchAnswer,
.bd818628221af7aa-searchFilter {
  background-color: var(--background-primary) !important;
  color: var(--header-primary) !important;
}

.option-2KkUJO[aria-selected=true] {
  background-color: var(--background-modifier-hover) !important;
}

._16eb0bfd5c5a90d1-searchOption ._16eb0bfd5c5a90d1-filter,
._16eb0bfd5c5a90d1-option:not([group="SEARCH_OPTIONS"]) ._16eb0bfd5c5a90d1-answer,
._16eb0bfd5c5a90d1-option ._16eb0bfd5c5a90d1-nonText,
._55c999adcf6db265-queryContainer strong,
._16eb0bfd5c5a90d1-option strong {
  color: var(--text-normal) !important;
}

._16eb0bfd5c5a90d1-option ._16eb0bfd5c5a90d1-filter,
._16eb0bfd5c5a90d1-searchOption ._16eb0bfd5c5a90d1-answer {
  color: var(--text-muted) !important;
}

._16eb0bfd5c5a90d1-resultsGroup ._16eb0bfd5c5a90d1-header,
._16eb0bfd5c5a90d1-resultsGroup ._16eb0bfd5c5a90d1-plusIcon,
._16eb0bfd5c5a90d1-resultsGroup ._16eb0bfd5c5a90d1-searchClearHistory,
._16eb0bfd5c5a90d1-resultsGroup .searchLearnMore-7__o_n a {
  color: var(--channels-default) !important;
}

/* Calendar */
.d27f17593b8064c5-calendarPicker .react-datepicker__navigation.react-datepicker__navigation--previous {
  border: none !important;
}

.d27f17593b8064c5-calendarPicker .react-datepicker__current-month,
.d27f17593b8064c5-calendarPicker .react-datepicker__day-name {
  color: var(--text-normal) !important;
}

.d27f17593b8064c5-calendarPicker .react-datepicker__day {
  border-top: 1px solid var(--background-modifier-accent) !important;
  border-left: 1px solid var(--background-modifier-accent) !important;
}

.d27f17593b8064c5-calendarPicker .react-datepicker__day--disabled,
.d27f17593b8064c5-calendarPicker .react-datepicker__day--outside-month,
.d27f17593b8064c5-calendarPicker .react-datepicker__day.react-datepicker__day--disabled,
.d27f17593b8064c5-calendarPicker .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--background-secondary-alt) !important;
  color: var(--text-muted) !important;
}

.d27f17593b8064c5-calendarPicker .react-datepicker__day.react-datepicker__day--keyboard-selected,
.d27f17593b8064c5-calendarPicker .react-datepicker__day.react-datepicker__day--selected:hover,
.d27f17593b8064c5-calendarPicker .react-datepicker__day:hover,
.d27f17593b8064c5-calendarPicker .react-datepicker__day {
  color: var(--text-normal) !important;
}

.d27f17593b8064c5-calendarPicker .react-datepicker__header,
.d27f17593b8064c5-calendarPicker .react-datepicker {
  background-color: var(--background-floating) !important;
}

.f75fb00fb7356cbe-form {
  background-color: var(--background-secondary);
}

.c38106a3f0c3ca76-bar {
  background-color: var(--background-primary);
}

/* Stream Preview Popouts */
.protip-13raHg {
  display: none;
}

.streamPreview-3qoMP4 {
  background-color: var(--background-tertiary) !important;
}

.previewContainer-12U1H1 {
  background-color: var(--background-secondary) !important;
}

/* Emoji Popouts */
._13533e3c5791980f-autocompleteInner,
._6b0e07cbaf13ec4e-autocompleteInner {
  background-color: var(--background-floating) !important;
}

.selected-3H3-RC {
  background-color: var(--background-primary) !important;
}

/* Slash Command Popouts */
.d1405bf11dcfb07a-categoryHeader {
  background-color: var(--background-floating) !important;
}

.a195358c0257a1b0-option,
.pill-e5445cbd3ad226f2-pill {
  background-color: var(--background-primary) !important;
}

/* ~~~~		  		Sidebar							~~~~ */

.visual-refresh ._5e434347c823b592-sidebar:after {
  background: none;
}

/* Server List */
.b18fe29d6fe8dd82-hiddenVisually,
._48112cbe77dc5022-folderGroupBackground,
.b18fe29d6fe8dd82-hiddenVisually>._48112cbe77dc5022-folderPreviewWrapper[style="background-color: rgba(88, 101, 242, 0.4);"] {
  background-color: var(--folder-color) !important;
}

._48112cbe77dc5022-folderPreviewWrapper[style="background-color: rgba(88, 101, 242, 0.4);"]:hover,
.b18fe29d6fe8dd82-hiddenVisually:hover {
  background-color: var(--folder-color-light);
}

.b18fe29d6fe8dd82-hiddenVisually>._48112cbe77dc5022-folderPreviewWrapper>.expandedFolderIconWrapper__48112>svg[style="color: rgb(88, 101, 242);"] {
  color: var(--accent-color) !important;
}

._2b1f52e43a8f1c02-numberBadge {
  background-color: var(--accent-color) !important;
}

._581051df43c5ebb6-item {
  background-color: var(--interactive-normal);
}

/* Add Server Button */
._5bc7ed9d4097f6b5-circleIconButton {
  color: var(--interactive-normal) !important;
  background-color: transparent !important;
}

._5bc7ed9d4097f6b5-circleIconButton:hover {
  color: var(--interactive-hover) !important;
  background-color: var(--background-primary) !important;
}

/* Channel List */
._9293f6b2fc12398a-children:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--background-tertiary)) !important;
}

._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
  background-color: var(--background-tertiary);
}

._2637a2609f343032-container,
._908e20001ad67812-content {
  background-color: var(--background-tertiary) !important;
}

.c19a557985eb7793-timestamp {
  color: var(--text-muted) !important;
}

._740174f3d6a2c8fe-scrollableContainer {
  background-color: var(--background-mentioned);
}

._99e7cad8d4c55236-scroller {
  background-color: var(--background-tertiary-alt) !important;
}

._5e434347c823b592-sidebar {
  background: var(--background-tertiary) !important;
}

._2ea32c412048f708-unread {
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  z-index: 1;
  border-radius: 10px;
  margin-top: 0px;
  transform: translateY(-50%)
}

._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-icon,
._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon,
._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon {
  color: var(--interactive-active);
}

._2ea32c412048f708-wrapper:not(._2ea32c412048f708-modeUnreadImportant):not(:hover):not(._2ea32c412048f708-modeSelected) ._2ea32c412048f708-icon {
  color: var(--channels-default);
}

._5b40bdd67543ba35-spine {
  color: var(--channels-default);
}

._260e1982cd52c5c3-total {
  background-color: var(--background-secondary-alt);
}

._260e1982cd52c5c3-total:after {
  border-right-color: var(--background-secondary-alt);
}

._2ea32c412048f708-subtitle {
  color: var(--brand-experiment) !important;
}

/* New Mention bar*/
._3b95d7d910416e54-mention {
  background-color: var(--text-danger);
  opacity: 1;
}

/* ~~~~		  		Settings Modal							~~~~ */

._23e6b439306f125a-contentRegionScroller,
._23e6b439306f125a-tools {
  background-color: var(--background-tertiary) !important;
}

._23e6b439306f125a-sidebarRegionScroller {
  background-color: var(--background-secondary) !important;
}

.theme-light .c2b141c0f80863fb-closeButton {
  border-color: var(--background-secondary-alt);
}

.theme-light .c2b141c0f80863fb-closeButton:hover {
  background-color: var(--background-secondary);
}

.theme-light .c2b141c0f80863fb-keybind {
  color: var(--background-secondary-alt);
}

.theme-light .gameName-Uw4dbt {
  color: #4f545c !important;
}

.theme-light .lastPlayed-3aHvxk {
  color: #72767d !important;
}

._1fed1dd06c7aabf7-accountProfileCard {
  background-color: var(--background-secondary-alt);
}

.cc46f0f859f26200-notDetected {
  background-color: var(--background-tertiary) !important;
}

.cc46f0f859f26200-addGamePopout {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
}

.cc46f0f859f26200-game {
  box-shadow: 0 1px 0 0 var(--background-tertiary) !important;
}

.cardPrimary-3qRT__ {
  background: var(--background-secondary);
}

.gemIndicatorContainer_b03ca0 {
  background-color: var(--background-primary) !important;
}

.cardWrapper-CyvwQv {
  background: var(--background-secondary);
}

.card-2gdrYL:hover {
  background: var(--background-floating);
}

.cc46f0f859f26200-gameVerifiedIcon ._3e3b0b1c0f688f9e-flowerStar>path {
  fill: var(--brand-experiment);
}

.markValue-2U_-UG {
  color: var(--interactive-muted);
}

/* Buttons Color */
.bar-1Bhnl9 {
  background: var(--background-secondary) !important;
}

.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background-color: var(--background-floating) !important;
  border-color: var(--background-secondary-alt) !important;
}

._581eac78e841159b-premiumTab[aria-selected="true"] {
  color: #fff !important;
  background-color: #b466c2 !important;
}

.e131a99484292a19-button.e131a99484292a19-buttonColor.e131a99484292a19-buttonActive,
.e131a99484292a19-button .e131a99484292a19-buttonColor.e131a99484292a19-buttonActive {
  color: #fff !important;
}

.buttons-19uowm .lookFilled-1GseHa.colorPrimary-2AuQVo,
.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark.f1ceaca61b18918e-active,
.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark:hover {
  background: var(--background-secondary) !important;
}

.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark {
  background: var(--background-primary);
}

.dim-2Uxgxb span,
.keybindShortcut-3zF1P9 span {
  background-color: var(--background-floating) !important;
  box-shadow: inset 0 -4px 0 var(--background-secondary) !important;
}

.lookFilled-yCfaCM.colorYellow-Pgtmch {
  color: #fff !important;
  background-color: var(--text-warning) !important;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  color: #fff !important;
  background-color: var(--text-positive) !important;
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
  color: #fff !important;
  background-color: var(--text-danger) !important;
}

/* Buttons Color */
.bar-1Bhnl9 {
  background: var(--background-secondary) !important;
}

.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background-color: var(--background-floating) !important;
  border-color: var(--background-secondary-alt) !important;
}

._581eac78e841159b-premiumTab[aria-selected="true"] {
  color: #fff !important;
  background-color: #b466c2 !important;
}

.e131a99484292a19-button.e131a99484292a19-buttonColor.e131a99484292a19-buttonActive,
.e131a99484292a19-button .e131a99484292a19-buttonColor.e131a99484292a19-buttonActive {
  color: #fff !important;
}

.buttons-19uowm .lookFilled-1GseHa.colorPrimary-2AuQVo,
.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark.f1ceaca61b18918e-active,
.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark:hover {
  background: var(--background-secondary) !important;
}

.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark {
  background: var(--background-primary);
}

.dim-2Uxgxb span,
.keybindShortcut-3zF1P9 span {
  background-color: var(--background-floating) !important;
  box-shadow: inset 0 -4px 0 var(--background-secondary) !important;
}

.lookFilled-yCfaCM.colorYellow-Pgtmch {
  color: #fff !important;
  background-color: var(--text-warning) !important;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  color: #fff !important;
  background-color: var(--text-positive) !important;
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
  color: #fff !important;
  background-color: var(--text-danger) !important;
}

/* My Account Page */
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
  background-color: var(--brand-experiment);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
  background-color: var(--brand-experiment-560);
}

.lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--interactive-normal) !important;
}

.lookLink-15mFoz.colorPrimary-2AuQVo:hover {
  color: var(--interactive-hover) !important;
}

/* Dropdown */
.lookFilled-1GseHa.select-1Ia3hD {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}

.select-1Ia3hD {
  color: var(--interactive-active);
}

/* Registered Game Page */
.cc46f0f859f26200-gameName {
  color: var(--header-primary) !important;
}

.cc46f0f859f26200-lastPlayed,
.cc46f0f859f26200-nowPlayingAdd,
.overlayStatusText__668e1 {
  color: var(--header-secondary) !important;
}

.overlayToggleIconOff-ps4gGp .cc46f0f859f26200-fill~rect {
  fill: var(--status-danger) !important;
}

.overlayToggleIconOn-21NN2N .cc46f0f859f26200-fill {
  fill: var(--status-positive) !important;
}

/* Server Settings */
.default_e18686,
._43dab84f7529cb48-headerExpanded,
.divider-1pnAR2 {
  background-color: var(--background-tertiary) !important;
}

.container__33507 {
  background-color: var(--background-secondary);
}

._43dab84f7529cb48-auditLog {
  border-color: var(--background-tertiary) !important;
}

.card-o7rAq- {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-secondary-alt) !important;
}

.cardPrimaryOutline-1ofwVz {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary-alt);
}

._43dab84f7529cb48-changeDetails {
  background-color: var(--background-secondary) !important;
}

._43dab84f7529cb48-headerDefault,
._43dab84f7529cb48-headerClickable {
  background-color: var(--background-secondary) !important;
}

.elevationHigh__08882 {
  background-color: var(--background-floating) !important;
}

.css-gvi9bl-control,
.css-6fzn47-control,
.css-3vaxre-menu {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary-alt);
}

.c44edb7a6ac077d8-background {
  color: var(--background-secondary) !important;
}

.c44edb7a6ac077d8-tierInProgress {
  background-color: var(--background-secondary) !important;
}

.a36dee84341ac9f5-tierBody {
  background-color: var(--background-secondary) !important;
}

.a36dee84341ac9f5-tierHeaderContent {
  background: var(--background-tertiary);
}

.cardPrimaryEditable-2mz_3i {
  background: var(--background-secondary);
}

.editCircle-ityklj,
.iconWrapper-lS1uig {
  background-color: var(--background-primary);
}

.theme-light ._4bb93312e84f332e-card:before {
  background-color: var(--background-primary);
}

/* Server Boost Modal */
.perksModal-CLcR1c {
  background-color: var(--background-primary) !important;
}

.tierMarkerBackground-G8FoN4,
.e9cb00d6250845ad-expandedInfo,
.tierBody-3ju-rc,
.perk-19D_HN {
  background-color: var(--background-tertiary) !important;
}

.roleIcon-286ZWG {
  color: var(--background-accent);
}

/* Reaction Modal */
.b7f4b43fe1b6e285-reactors {
  background-color: var(--background-primary) !important;
}

.reactorDefault_b7f4b4 {
  box-shadow: inset 0 -1px 0 var(--background-modifier-accent) !important;
}

.b7f4b43fe1b6e285-scroller {
  background: var(--background-secondary) !important;
}

.b7f4b43fe1b6e285-reactionSelected {
  background-color: var(--background-modifier-selected) !important;
}

/* Pin Message Modal */
.fd14e024a43b9049-message {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
  border-radius: 10px;
}

/* Connections Modal */
.focusLock-2tveLW[aria-label="Add Connection"] ._49fc18ba07c5025f-root {
  background-color: var(--background-secondary-alt) !important;
  box-shadow: none !important;
}

.connectionsContainer-crWFPm .accountBtnInner-1DCgBm {
  background-color: var(--background-primary);
}

/* Payment Modal */
._49fc18ba07c5025f-root {
  background-color: var(--background-primary) !important;
  box-shadow: none;
}

.modalHeader-gQTY3L,
.root-2s1-ri>* {
  background-color: transparent !important;
}

._01014d2e38bd7c76-paymentPane {
  background-color: var(--background-secondary-alt) !important;
}

._01014d2e38bd7c76-bottomDivider {
  border-bottom-color: var(--background-secondary-alt) !important;
}

.e9cb00d6250845ad-expandedInfo {
  background-color: var(--background-primary) !important;
}

.paginator__01014,
.e9cb00d6250845ad-payment,
.a706ba33cbeb179a-codeRedemptionRedirect {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-secondary-alt) !important;
}

.footerSeparator-VzAYwb {
  -webkit-box-shadow: inset 0 1px 0 var(--background-secondary-alt) !important;
  box-shadow: inset 0 1px 0 var(--background-secondary-alt) !important;
}

.footer-31IekZ,
.footer_b78547 {
  background-color: var(--background-tertiary) !important;
}

/* ~~~~		  		Watermark							~~~~ */

._421edea01cb52e16-wordmarkWindows svg {
  position: fixed;
  top: 3px;
  left: 50%;
  transform: translate(-50%);
}

._421edea01cb52e16-typeWindows {
  z-index: 1;
  background-color: var(--background-secondary-alt);
}

/* ~~~~		  		     BD Support							~~~~ */
#bd-editor-controls {
  background: var(--background-secondary-alt);
  color: var(--interactive-normal);
}

#floating-editor-window {
  border-radius: 10px;
}

.floating-window-titlebar {
  background-color: var(--background-secondary-alt);
}

.floating-window #bd-editor-controls {
  background-color: var(--background-tertiary) !important;
  border-bottom: 1px solid var(--background-tertiary);
  box-shadow: none;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: var(--background-secondary) !important;
}

.monaco-editor .minimap,
.monaco-editor .decorationsOverviewRuler {
  display: none !important;
}

.bd-tab-item.selected {
  cursor: default;
  background: var(--background-accent);
}

.bd-addon-error {
  border-color: var(--background-tertiary) !important;
  background: var(--background-secondary) !important;
}

.bd-addon-error-icon {
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
}

.bd-addon-modal-footer .bd-button {
  background-color: var(--brand-experiment);
}

.bd-addon-modal-footer .bd-button:hover {
  background-color: var(--brand-experiment-560) !important;
}

/* ~~~~		  		     Powercord Support							~~~~ */
.powercord-toast-container {
  --toast-background: var(--background-secondary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-primary);
  --toast-box-shadow: var(--elevation-stroke), var(--elevation-high);
  --toast-border: transparent;
}

.ab9bdf90e7c35b35-modal {
  background-color: var(--background-primary) !important;
}

.powercord-product-footer .lookLink-15mFoz.colorTransparent-13Bvvi {
  color: var(--text-link) !important;
}

/* ~~~~		  		 Plugin Support							~~~~ */

/* Better Codeblocks */
#app-mount .hljs {
  background-color: var(--background-secondary) !important;
  border: 1px solid var(--background-tertiary);
  color: var(--text-normal);
}

.powercord-codeblock-lang {
  font-size: 1em !important;
  font-family: 'JetBrainsMono Nerd Font', 'Raleway', var(--font-code), monospace !important;
}

/* Channel Tabs */
.channelTabs-tab.channelTabs-selected {
  margin-top: 5px;
}

[class*="channelTabs-"] .channelTabs-closeTab {
  color: var(--text-normal) !important;
  background-color: transparent !important;
}

[class*="channelTabs-"] .channelTabs-closeTab:hover {
  color: var(--text-danger) !important;
}

.channelTabs-tabContainer {
  background-color: var(--background-secondary-alt);
}

.channelTabs-newTab {
  bottom: calc(var(--channelTabs-tabHeight) / 2) !important;
}

#channelTabs-settingsMenu {
  background: transparent !important;
}

/* Better Formatting Redux */
.bf-toolbar::before {
  background: var(--background-secondary) !important;
}

.tooltipBlack-vMYxvw {
  background-color: var(--background-floating) !important;
}

.tooltipPointer-3L49xb {
  border-top-color: var(--background-floating) !important;
}

/* Powercord Spotify Modal. */
.fa-forward,
.fa-backward {
  transition-duration: 0.3s;
}

button:hover .fa-forward:hover {
  transform: translate(2px);
}

button:hover .fa-backward:hover {
  transform: translate(-2px);
}

/* ----------------------------- END OF THEME ----------------------------- */

/* ~~~~		  		CSS Snippets							~~~~ */

/* Better name colors in chat & list light mode */
.theme-light .c19a557985eb7793-username.desaturateUserColors-1O-G89.c19a557985eb7793-clickable,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89 {
  filter: contrast(50%);
  transition: filter 0.25s;
}

.theme-light .c19a557985eb7793-username.desaturateUserColors-1O-G89.c19a557985eb7793-clickable:hover,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89:hover {
  filter: contrast(100%);
}

/* Hide unused things */
._68edb95846a37624-banner:hover .premiumIconWrapper_c3e427 .textBadge_f05120,
._68edb95846a37624-banner:hover .bannerOverlay-1uIerX,
._68edb95846a37624-banner:hover .pencilIcon_e00224,
button[aria-label="Send a gift"],
[href="/discovery"],
._9293f6b2fc12398a-toolbar a,
._68edb95846a37624-gifTag {
  display: none;
}

/* Consistent Account and Server Join Date */
.discordMemberCreatedAtIconContainer__09d4a {
  padding: 0px;
  background-color: var(--background-tertiary);
}

.discordMemberCreatedAtIcon__6a752 {
  width: 24px;
  height: 24px;
}

.discordMemberCreatedAtText_b9ff49>div {
  display: none;
}

.discordMemberCreatedAt_bd7014>.discordMemberCreatedAtText_b9ff49>h3 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  user-select: text;
}

/* Replaces Message Links with "Jump to Message" */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
  line-height: 0;
  font-size: 0;
}

[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}
